body{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background-color: blanchedalmond;

    align-items: center;

}





.welcome{
    height: 40%;
    width: 50%;
    align-items: center;
    margin: 25%;
    background-color: #6939E3;
    padding: auto;



}

